.contact-container {
	background: rgb(188, 203, 179, 0.6);
	/* padding: 2rem; */
	border-radius: 8px;
	margin: 4rem;
}
.contact-img-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}
.headshot {
	width: 200px;
}
.contact-p {
	display: inline-flex;
	margin-left: 1rem;
	align-items: center;
	width: 100%;
	justify-content: center;
}
.form-container,
input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}
input {
	width: 30vw;
	height: 1.5rem;
	border-radius: 8px;
	margin-bottom: 1rem;
	padding: 0.5rem;
}
textarea {
	margin: 1rem 0;
	border-radius: 8px;
	width: 30vw;
	padding: 0.5rem;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: rgb(188, 203, 179);
	width: 100%;
	padding: 1rem;
}

@media (max-width: 742px) {
	input,
	textarea {
		width: 40vw;
	}
}

@media (max-width: 600px) {
	img {
		width: 40%;
	}
	.contact-img-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
